In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

def get_deni_latest_game():
    """
    ××•×©×š ××ª ×”××©×—×§ ×”××—×¨×•×Ÿ ×©×œ ×“× ×™ ××‘×“×™×” ×¢× ×›×œ ×”× ×ª×•× ×™×
    ××—×–×™×¨ DataFrame ×¢× ×©×•×¨×” ××—×ª
    """
    url = "https://www.basketball-reference.com/players/a/avdijde01/gamelog/2026"
    
    headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36'
    }
    
    try:
        print("ğŸ€ ××•×©×š × ×ª×•× ×™× ×-Basketball Reference...")
        response = requests.get(url, headers=headers, timeout=30)
        response.raise_for_status()
        
        # Parse HTML
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # ××¦× ××ª ×”×˜×‘×œ×”
        table = soup.find('table', {'id': 'player_game_log_reg'})
        
        if not table:
            print("âŒ ×œ× ××¦××ª×™ ××ª ×”×˜×‘×œ×”")
            return None
        
        print("âœ… ××¦××ª×™ ××ª ×”×˜×‘×œ×”!")
        
        # ×”××¨ ××ª ×›×œ ×”×˜×‘×œ×” ×œ-DataFrame
        df = pd.read_html(str(table))[0]
        
        # × ×§×” ×©×•×¨×•×ª ×¨×™×§×•×ª ×•×©×•×¨×•×ª ×©×œ ×›×•×ª×¨×•×ª
        df = df[df['Rk'].notna()]
        df = df[df['Rk'] != 'Rk']
        
        print(f"ğŸ“Š ×¡×”\"×› {len(df)} ××©×—×§×™× ×‘×¢×•× ×”")
        
        # ×§×— ××ª ×”××©×—×§ ×”××—×¨×•×Ÿ (×”×©×•×¨×” ×”××—×¨×•× ×”) ×›-DataFrame
        latest_game_df = df.iloc[[-1]]  # ×©×™× ×œ×‘ ×œ-[[-1]] ×›×“×™ ×œ×©××•×¨ ×¢×œ DataFrame
        
        # ×‘×“×•×§ ×× ×“× ×™ ×©×™×—×§ (×™×© ×“×§×•×ª ××©×—×§)
        mp_value = latest_game_df['MP'].values[0]
        if pd.isna(mp_value) or mp_value == '':
            print("âš ï¸  ×“× ×™ ×œ× ×©×™×—×§ ×‘××©×—×§ ×”××—×¨×•×Ÿ")
            return None
        
        # ×”×“×¤×¡ ××ª ×”× ×ª×•× ×™× ×”×—×©×•×‘×™×
        game = latest_game_df.iloc[0]
        print("\n" + "="*70)
        print("ğŸ“Š ×”××©×—×§ ×”××—×¨×•×Ÿ ×©×œ ×“× ×™ ××‘×“×™×”:")
        print("="*70)
        print(f"ğŸ“… ×ª××¨×™×š: {game.get('Date', 'N/A')}")
        print(f"ğŸ€ ×™×¨×™×‘: {game.get('Opp', 'N/A')}")
        print(f"â±ï¸  ×“×§×•×ª: {game.get('MP', '0')}")
        print(f"ğŸ¯ × ×§×•×“×•×ª: {game.get('PTS', '0')}")
        print(f"ğŸ“¦ ×¨×™×‘××•× ×“×™×: {game.get('TRB', '0')}")
        print(f"ğŸ¤ ××¡×™×¡×˜×™×: {game.get('AST', '0')}")
        print("="*70)
        
        print("\nâœ… ×”×¦×œ×—×”! ×”× ×ª×•× ×™× × ××©×›×• ×›-DataFrame")
        print(f"\nğŸ“‹ ×¢××•×“×•×ª: {list(latest_game_df.columns)}")
        print(f"\nğŸ“Š DataFrame shape: {latest_game_df.shape}")
        
        return latest_game_df
        
    except requests.exceptions.RequestException as e:
        print(f"âŒ ×©×’×™××ª ×¨×©×ª: {e}")
        return None
    except Exception as e:
        print(f"âŒ ×©×’×™××”: {e}")
        import traceback
        traceback.print_exc()
        return None

if __name__ == "__main__":
    # ×”×¨×¥ ××ª ×”×¤×•× ×§×¦×™×”
    latest_game_df = get_deni_latest_game()
    
    if latest_game_df is not None:
        print("\n" + "="*70)
        print("ğŸ‰ ×”-DataFrame ×”××œ×:")
        print("="*70)
        print(latest_game_df)
        
        # ×“×•×’××” ××™×š ×œ×—×‘×¨ ×œ×˜×‘×œ×ª ×”×™×¡×˜×•×¨×™×”
        print("\nğŸ’¡ ××™×š ×œ×—×‘×¨ ×œ×˜×‘×œ×ª ×”×™×¡×˜×•×¨×™×”:")
        print("history_df = pd.read_csv('deni_history.csv')")
        print("updated_df = pd.concat([history_df, latest_game_df], ignore_index=True)")

ğŸ€ ××•×©×š × ×ª×•× ×™× ×-Basketball Reference...
âœ… ××¦××ª×™ ××ª ×”×˜×‘×œ×”!
ğŸ“Š ×¡×”"×› 56 ××©×—×§×™× ×‘×¢×•× ×”

======================================================================
ğŸ“Š ×”××©×—×§ ×”××—×¨×•×Ÿ ×©×œ ×“× ×™ ××‘×“×™×”:
======================================================================
ğŸ“… ×ª××¨×™×š: 2026-02-12
ğŸ€ ×™×¨×™×‘: UTA
â±ï¸  ×“×§×•×ª: Did Not Dress
ğŸ¯ × ×§×•×“×•×ª: Did Not Dress
ğŸ“¦ ×¨×™×‘××•× ×“×™×: Did Not Dress
ğŸ¤ ××¡×™×¡×˜×™×: Did Not Dress
======================================================================

âœ… ×”×¦×œ×—×”! ×”× ×ª×•× ×™× × ××©×›×• ×›-DataFrame

ğŸ“‹ ×¢××•×“×•×ª: ['Rk', 'Gcar', 'Gtm', 'Date', 'Team', 'Unnamed: 5', 'Opp', 'Result', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'GmSc', '+/-']

ğŸ“Š DataFrame shape: (1, 34)

======================================================================
ğŸ‰ ×”-DataFrame ×”××œ×:
======================================================================
    Rk Gcar Gtm        Date Team Unnamed: 5  Opp      Result             GS  \
59  46  NaN  56  2026-02-12  POR          @  UTA  W, 135-119  Did Not Dress

               MP  ...            DRB            TRB            AST  \
59  Did Not Dress  ...  Did Not Dress  Did Not Dress  Did Not Dress

              STL            BLK            TOV             PF            PTS  \
59  Did Not Dress  Did Not Dress  Did Not Dress  Did Not Dress  Did Not Dress

             GmSc            +/-
59  Did Not Dress  Did Not Dress

[1 rows x 34 columns]

ğŸ’¡ ××™×š ×œ×—×‘×¨ ×œ×˜×‘×œ×ª ×”×™×¡×˜×•×¨×™×”:
history_df = pd.read_csv('deni_history.csv')
updated_df = pd.concat([history_df, latest_game_df], ignore_index=True)

/var/folders/6t/p6926chx50gdyp_xg4xxl8qw0000gn/T/ipykernel_1790/3876176556.py:34: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

In [4]:
latest_game_df

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
59,46,NaN,56,2026-02-12,POR,@,UTA,"W, 135-119",Did Not Dress,Did Not Dress,...,Did Not Dress,Did Not Dress,Did Not Dress,Did Not Dress,Did Not Dress,Did Not Dress,Did Not Dress,Did Not Dress,Did Not Dress,Did Not Dress

In [6]:
import numpy as np

In [7]:
latest_game_df.rename(columns={
    'Unnamed: 5': 'Home/Away',
    'GS': 'Games Started',
    'Rk': 'Rank',
    'Gcar': 'Games_Career',
    'Gtm': 'Games_Team',
    'GS': 'Games_Started',
}, inplace=True)
latest_game_df.loc[latest_game_df['Home/Away'] == '@', 'Home/Away'] = 'Away'
latest_game_df.loc[latest_game_df['Home/Away'] != 'Away', 'Home/Away'] = 'Home'
latest_game_df['Home/Away_num'] = np.where(latest_game_df['Home/Away'] == 'Away', 0, 1)
latest_game_df[['Result_type', 'Score']] = latest_game_df['Result'].str.split(',', expand=True)
latest_game_df[['Team_Score', 'Opponent_Score']] = latest_game_df['Score'].str.split('-', expand=True)
latest_game_df['Win_lose_num'] = np.where(latest_game_df['Result_type'] == 'W', 1, 0)
latest_game_df['Games_Started_num'] = np.where(latest_game_df['Games_Started'] == '*', 1, 0)
latest_game_df['Games_Started_str'] = np.where(latest_game_df['Games_Started'] == '*', 'Yes', 'No')

In [8]:
latest_game_df

,Rank,Games_Career,Games_Team,Date,Team,Home/Away,Opp,Result,Games_Started,MP,...,GmSc,+/-,Home/Away_num,Result_type,Score,Team_Score,Opponent_Score,Win_lose_num,Games_Started_num,Games_Started_str
59,46,NaN,56,2026-02-12,POR,Away,UTA,"W, 135-119",Did Not Dress,Did Not Dress,...,Did Not Dress,Did Not Dress,0,W,135-119,135,119,1,0,No