In [1]:
import pandas as pd

In [ ]:
sessions = ['20-21', '21-22', '22-23', '23-24', '24-25', '25-26']
history = pd.DataFrame()

In [ ]:
def load_season_data(season):
    df = pd.read_csv(f'sportsref_download_{season}.csv')

,Rk,Gcar,Gtm,Date,Team,Unnamed: 5,Opp,Result,GS,MP,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,GmSc,+/-
0,1.0,1.0,1.0,23/12/2020,WAS,@,PHI,"L, 107-113",*,28:06:00,...,4.0,4.0,1.0,1.0,0.0,1.0,3.0,7.0,6.7,14.0
1,2.0,2.0,2.0,26/12/2020,WAS,NaN,ORL,"L, 120-130",*,14:40,...,3.0,3.0,2.0,0.0,0.0,0.0,4.0,5.0,4.7,-7.0
2,3.0,3.0,3.0,27/12/2020,WAS,NaN,ORL,"L, 113-120",*,36:11:00,...,7.0,9.0,3.0,2.0,0.0,1.0,1.0,9.0,9.1,13.0
3,4.0,4.0,4.0,29/12/2020,WAS,NaN,CHI,"L, 107-115",*,26:19:00,...,4.0,4.0,4.0,2.0,1.0,1.0,5.0,9.0,9.7,-5.0
4,5.0,5.0,5.0,31/12/2020,WAS,NaN,CHI,"L, 130-133",*,24:32:00,...,3.0,4.0,3.0,0.0,0.0,0.0,1.0,6.0,6.6,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,54.0,NaN,69.0,10/05/2021,WAS,@,ATL,"L, 124-125",Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,54.0,NaN,70.0,12/05/2021,WAS,@,ATL,"L, 116-120",Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,54.0,NaN,71.0,14/05/2021,WAS,NaN,CLE,"W, 120-105",Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,54.0,NaN,72.0,16/05/2021,WAS,NaN,CHO,"W, 115-110",Inactive,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25-29,32,1260,...,240.0,262.0,63.0,32.0,15.0,33.0,140.0,342.0,4.7,-81.0

In [5]:
df = pd.read_csv(f'sportsref_download_20-21.csv')

In [11]:
df['Rk']

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
      ...
68    54.0
69    54.0
70    54.0
71    54.0
72     NaN
Name: Rk, Length: 73, dtype: float64