In [46]:
import pandas as pd
import numpy as np

In [63]:
def load_season_data(season):
    df = pd.read_csv(f'sportsref_download_{season}.csv')
    df = df.iloc[:-1]  # Remove the last row if it's a summary or unwanted
    return df

In [64]:
seasons = ['20-21', '21-22', '22-23', '23-24', '24-25', '25-26']
all_seasons = [load_season_data(season) for season in seasons]
all_seasons = pd.concat(all_seasons, ignore_index=True)

In [ ]:
all_seasons.rename(columns={
    'Unnamed: 5': 'Home/Away',
    'GS': 'Games Started',
    'Rk': 'Rank',
    'Gcar': 'Games_Career',
    'Gtm': 'Games_Team',
    'GS': 'Games_Started',
}, inplace=True)
all_seasons.loc[all_seasons['Home/Away'] == '@', 'Home/Away'] = 'Away'
all_seasons.loc[all_seasons['Home/Away'] != 'Away', 'Home/Away'] = 'Home'
all_seasons['Home/Away_num'] = np.where(all_seasons['Home/Away'] == 'Away', 0, 1)
all_seasons[['Result_type', 'Score']] = all_seasons['Result'].str.split(',', expand=True)
all_seasons[['Team_Score', 'Opponent_Score']] = all_seasons['Score'].str.split('-', expand=True)
all_seasons['Win_lose_num'] = np.where(all_seasons['Result_type'] == 'W', 1, 0)
all_seasons['Games_Started_num'] = np.where(all_seasons['Games_Started'] == '*', 1, 0)
all_seasons['Games_Started_str'] = np.where(all_seasons['Games_Started'] == '*', 'Yes', 'No')

In [77]:
all_seasons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 42 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               438 non-null    float64
 1   Games_Career       398 non-null    float64
 2   Games_Team         438 non-null    float64
 3   Date               438 non-null    object
 4   Team               438 non-null    object
 5   Home/Away          438 non-null    object
 6   Opp                438 non-null    object
 7   Result             438 non-null    object
 8   Games_Started      288 non-null    object
 9   MP                 398 non-null    object
 10  FG                 398 non-null    float64
 11  FGA                398 non-null    float64
 12  FG%                396 non-null    float64
 13  3P                 398 non-null    float64
 14  3PA                398 non-null    float64
 15  3P%                379 non-null    float64
 16  2P                 398 non-null    float64
 17  2PA                398 non-null    float64
 18  2P%                383 non-null    float64
 19  eFG%               396 non-null    float64
 20  FT                 398 non-null    float64
 21  FTA                398 non-null    float64
 22  FT%                296 non-null    float64
 23  ORB                398 non-null    float64
 24  DRB                398 non-null    float64
 25  TRB                398 non-null    float64
 26  AST                398 non-null    float64
 27  STL                398 non-null    float64
 28  BLK                398 non-null    float64
 29  TOV                398 non-null    float64
 30  PF                 398 non-null    float64
 31  PTS                398 non-null    float64
 32  GmSc               398 non-null    float64
 33  +/-                397 non-null    float64
 34  Home/Away_num      438 non-null    int64
 35  Result_type        438 non-null    object
 36  Score              438 non-null    object
 37  Team_Score         438 non-null    object
 38  Opponent_Score     438 non-null    object
 39  Win_lose_num       438 non-null    int64
 40  Games_Started_num  438 non-null    int64
 41  Games_Started_str  438 non-null    object
dtypes: float64(27), int64(3), object(12)
memory usage: 143.8+ KB