In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('processed_seasons_data.csv')

In [3]:
data

,Rank,Games_Career,Games_Team,Date,Team,Home/Away,Opp,Result,Games_Started,MP,...,Team_Score,Opponent_Score,Win_lose_num,Games_Started_num,Games_Started_str,Rk,Gcar,Gtm,Unnamed: 5,GS
0,1.0,1.0,1.0,23/12/2020,WAS,Away,PHI,"L, 107-113",*,28:06:00,...,107.0,113,0.0,1.0,Yes,NaN,NaN,NaN,NaN,NaN
1,2.0,2.0,2.0,26/12/2020,WAS,Home,ORL,"L, 120-130",*,14:40,...,120.0,130,0.0,1.0,Yes,NaN,NaN,NaN,NaN,NaN
2,3.0,3.0,3.0,27/12/2020,WAS,Home,ORL,"L, 113-120",*,36:11:00,...,113.0,120,0.0,1.0,Yes,NaN,NaN,NaN,NaN,NaN
3,4.0,4.0,4.0,29/12/2020,WAS,Home,CHI,"L, 107-115",*,26:19:00,...,107.0,115,0.0,1.0,Yes,NaN,NaN,NaN,NaN,NaN
4,5.0,5.0,5.0,31/12/2020,WAS,Home,CHI,"L, 130-133",*,24:32:00,...,130.0,133,0.0,1.0,Yes,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435,37.0,396.0,37.0,05/01/2026,POR,Home,UTA,"W, 137-117",*,28:46:00,...,137.0,117,1.0,1.0,Yes,NaN,NaN,NaN,NaN,NaN
436,38.0,397.0,38.0,07/01/2026,POR,Home,HOU,"W, 103-102",*,39:08:00,...,103.0,102,1.0,1.0,Yes,NaN,NaN,NaN,NaN,NaN
437,39.0,398.0,39.0,09/01/2026,POR,Home,HOU,"W, 111-105",*,35:49:00,...,111.0,105,1.0,1.0,Yes,NaN,NaN,NaN,NaN,NaN
438,NaN,NaN,NaN,2026-02-12,POR,NaN,UTA,"W, 135-119",NaN,Did Not Dress,...,NaN,NaN,NaN,NaN,NaN,46.0,NaN,56.0,@,Did Not Dress
439,46.0,NaN,56.0,2026-02-12,POR,Away,UTA,"W, 135-119",Did Not Dress,Did Not Dress,...,135.0,119,1.0,0.0,No,NaN,NaN,NaN,NaN,NaN